In [1]:
import pandas as pd

In [14]:
test = pd.DataFrame(
    [
        [1,1,1,1,1,1,1,1,1,1,],
        [1,1,1,1,1,1,1,0,0,1,],
        [1,1,1,1,1,1,1,1,0,1,],
        [1,1,1,1,1,1,1,1,1,1,],
        [1,1,1,1,1,1,1,1,0,1,],
        [1,1,1,1,1,1,1,1,0,1,],
        
    ],
    columns = ['q'+str(n) for n in range(1,11)],
    index = ['Hasegawa','Honda', 'Uchikawa', 'Matsuda','LaHair','Yanagita']
)

In [15]:
test.head()

          q1  q2  q3  q4  q5  q6  q7  q8  q9  q10
Hasegawa   1   1   1   1   1   1   1   1   1    1
Honda      1   1   1   1   1   1   1   0   0    1
Uchikawa   1   1   1   1   1   1   1   1   0    1
Matsuda    1   1   1   1   1   1   1   1   1    1
LaHair     1   1   1   1   1   1   1   1   0    1