In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../data/ch2_scores_em.csv', index_col='生徒番号')
df.head()

      英語  数学
生徒番号
1     42  65
2     69  80
3     56  63
4     41  63
5     57  76

In [4]:
scores = np.array(df['英語'])[:10]
scores

array([42, 69, 56, 41, 57, 48, 65, 49, 65, 58])

In [5]:
np.median(scores)

56.5

In [8]:
df['英語'].mode()

0    57
dtype: int64

In [11]:
scores_Q1 = np.percentile(scores, 25)
scores_Q3 = np.percentile(scores, 75)

In [12]:
scores_IQR = scores_Q3 - scores_Q1
scores_IQR

15.0

In [13]:
df.describe()

              英語         数学
count  50.000000  50.000000
mean   58.380000  78.880000
std     9.799813   8.414371
min    37.000000  57.000000
25%    54.000000  76.000000
50%    57.500000  80.000000
75%    65.000000  84.000000
max    79.000000  94.000000

In [14]:
pd.Series(scores).describe()

count    10.000000
mean     55.000000
std       9.775252
min      41.000000
25%      48.250000
50%      56.500000
75%      63.250000
max      69.000000
dtype: float64